<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
    <title>Editar Transportista</title>
</head>
<body class="container">
<div class="container">
    <h2>Editar Transportista</h2>
    <hr/>
    <form method="post" th:action="@{'/distribuidoras/guardar'}">
        <input  th:value="${dist.id}" name="id" type="hidden" />
        <div class="mb-3">
            <label for="nombre">Nombre de la compañía</label>
            <input th:value="${dist.nombre}" name="nombre" type="text" class="form-control" id="nombre"/>
        </div>
        <div class="mb-3">
            <label for="fundacion">Fundacion</label>
            <input  th:value="${dist.fundacion}" name="fundacion" type="text" class="form-control" id="fundacion"/>
        </div>
        <div class="mb-3">
            <label for="sede">Sede</label>
            <input  th:value="${dist.sede}" name="sede" type="text" class="form-control" id="sede"/>
        </div>
        <a class="btn btn-danger" th:href="@{'/distribuidoras/lista'}">Cancelar</a>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</html>
